@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
/* font-family: 'Open Sans', sans-serif; */

/* ========Defolt Markup */
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  background-color: #f4f4f4;
}
* {
  margin: 0px;
  padding: 0px;
}
ul {
  list-style: none;
}
a {
  display: inline-block;
  color: #bbb;
  text-decoration: none;
}
p {
  font-size: 14px;
  line-height: 1.42;
  color: #555555;
  font-weight: 400;
}
h3 {
  font-size: 30px;
  font-weight: 600;
  color: #000;
}

/* ==================== Custom Style*/
.main-wrap {
  max-width: 1445px;
  min-width: 992px;
  margin: auto;
  background-color: #fff;
  border-radius: 20px;
}
.sub-wrap {
  min-width: 792px;
  width: 990px;
  margin: auto;
}
.plays {
  display: inline-block;
  color: #bbb;
  font-size: 35px;
}
.btn {
  padding: 8px 22px;
  display: inline-block;
  border: 1px solid;
  border-radius: 8px;
  letter-spacing: 0.11em;
  font-size: 14px;
  font-weight: 500;
  background-color: transparent;
  transition: 0.4s;
  min-height: 48px;
  box-shadow: inset 0px 0px black;
  cursor: pointer;
}
.btn:hover {
  box-shadow: inset 200px 0px black;
  color: #fff;
}

/* ======= Header Section */
header {
  padding-top: 20px;
  padding-bottom: 10px;
  background: #fefefe;
  position: fixed;
  width: 100%;
  z-index: 9999;
}
.wrap {
  width: 96%;
  margin: auto;
  border-bottom: 0.6px solid #bbb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}
.main-logo {
  width: 150px;
}
.main-logo img {
  width: 100%;
}
.model-nam span {
  font-size: 22px;
  font-weight: 600;
  color: #000;
  display: inline-block;
  position: relative;
}
.dot-menu svg {
  font-size: 32px;
  color: #181818;
  display: inline-block;
}
.list-menu ul li {
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  margin: 0px 12px;
  padding-top: 12px;
  border-top: 3px solid #18b9e500;
  transition: 0.3s;
  cursor: pointer;
}
.list-menu {
  text-align: center;
  width: 95%;
  margin-left: auto;
}
.list-menu ul li:hover {
  border-top: 3px solid #18b9e5;
}
.list-menu ul li:first-child {
  border-top: 3px solid #18b9e5;
}

/* ========= Z Flip Section */
section.s1.main-wrap {
  background: transparent;
}
.s1-items {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 45% 45%;
  align-items: center;
  padding-top: 110px;
}
.s1-items h1 {
  font-size: 54px;
  text-align: right;
  padding-right: 20px;
}
.s1-img img {
  width: 100%;
  height: 100%;
}
.s1-discrib {
  text-align: center;
  position: relative;
  top: -40px;
}
.s1-discrib p {
  font-size: 11px;
}
.s1-discrib-2 {
  text-align: center;
}
.s1-discrib-2 p {
  margin-bottom: 25px;
}

/* =========== Flex Window */
section.s2 {
  padding-top: 35px;
  padding-bottom: 60px;
  background: transparent;
}
.flex-item-part {
  display: grid;
  grid-template-areas:
    "a a a b b"
    "c d e b b";
  grid-gap: 20px;
}
.f-itm-1 {
  grid-area: a;
  height: 300px;
}
.f-itm-2 {
  grid-area: b;
  background: #fff;
  position: relative;
  border-radius: 30px;
}
.f-itm-3 {
  grid-area: c;
}
.f-itm-4 {
  grid-area: d;
}
.f-itm-5 {
  grid-area: e;
}
.flex-item-part div h3 {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.11em;
}
.flex-item-part div img {
  width: 100%;
  border-radius: 30px;
}
.sty-an {
  height: 300px;
  position: relative;
}
.sty-an img {
  height: 100%;
  object-fit: contain;
  background: #fff;
  cursor: pointer;
}
.sty-an h3 {
  position: absolute;
  top: 22px;
  left: 30px;
}
.sty-an img {
  border-radius: 30px;
}
.f-itm-1.sty-an h3 {
  top: 260px;
  bottom: 0px !important;
}
.play-btn {
  position: absolute;
  right: 15px;
  bottom: 15px;
}
.play-btn svg {
  font-size: 40px;
  color: #b1b1b1;
}
.f-itm-3.sty-an h3 {
  color: #fff;
}
.f-itm-2 h3 {
  position: absolute;
  top: 22px;
  left: 20px;
}
.f-itm-2 svg {
  position: absolute;
  bottom: 16px;
  right: 16px;
  font-size: 40px;
  color: #b1b1b1;
}
.f-itm-2 h3 svg {
  position: unset;
  font-size: inherit;
  color: #000;
}
/* Phone Detailse And Revue ====*/
.flx-pat-2 {
  padding-top: 50px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 55px 18px;
  align-items: center;
}
.rv-st {
  padding: 15px;
  background: #fff;
  border-radius: 20px;
  position: relative;
  display: flex;
  align-items: center;
}
.rv-st a {
  position: absolute;
  left: 62px;
  top: 35px;
  display: inline-block;
  color: #fff;
  font-size: 35px;
}
.rv-st img {
  width: 134px;
  height: 82px;
  border-radius: 20px;
}
.rv-st span {
  font-size: 15px;
  display: inline-block;
  margin-left: 20px;
  font-weight: 600;
}
.ph-dtl-box {
  height: 270px;
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 38px 37px;
  justify-content: space-between;
  text-align: center;
  border-radius: 20px;
}
.ph-dtl-box span {
  font-size: 14px;
  font-weight: 500;
  color: #000;
}
.ph-dtl-box p {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}
.ph-dtl-box h4 {
  font-size: 20px;
  font-weight: 600;
  color: #000;
}
/* Arrow Button ==== */
.btm-aro {
  text-align: center;
  padding-top: 75px;
}
.btm-aro svg {
  border: 1px solid #a3a3a3;
  font-size: 25px;
  padding: 15px;
  border-radius: 50px;
  color: #a3a3a3;
}

/* Main Section ================ */
/* Un Section=========== */
section.main-wrap.un-s1 {
  padding-bottom: 130px;
  margin-bottom: 100px;
}
.main-wrap .un-s1 {
  border-radius: 20px;
}
.un-s1-img img {
  position: relative;
  /* border-radius: 20px; */
}
.un-s1-img {
  position: relative;
}
.un-s1-img img {
  width: 100%;
  object-fit: contain;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.un-s1-img a {
  position: absolute;
  right: 16px;
  bottom: 20px;
}
/* Phone Discribation=== */
.sub-wrap.dis-un-1 {
}
.sub-wrap.dis-un-1 h1 {
  font-size: 60px;
  margin-bottom: 40px;
  padding-left: 20px;
}
.sub-wrap.dis-un-1 p {
  color: #000;
  padding-left: 20px;
}
.sub-wrap.dis-un-1 p:last-child {
  margin-top: 35px;
  color: #575757;
}
/* Poket Size==== ==== */
.sub-wrap.un-ss3-img {
  padding-top: 60px;
  position: relative;
}
.sub-wrap.un-ss3-img img {
  width: 100%;
  object-fit: contain;
}
.s3-text {
  width: 480px;
  margin-left: auto;
  position: relative;
  bottom: 125px;
}
.s3-text h3 {
  margin-bottom: 30px;
  font-weight: 600;
}
.s3-text p {
  margin-bottom: 30px;
}
.s3-text p:last-child {
  margin-bottom: 0px;
}
.sub-wrap.s3-bm-text {
  display: grid;
  grid-template-columns: 50% 50%;
}
.bm-r-tx p {
  margin-bottom: 30px;
}
/* ===== Phone Color Varient */
.sub-wrap.color-varint {
  padding-top: 50px;
  padding-bottom: 150px;
}
.varint-img-1 {
  background: #f4f4f4;
  border-radius: 20px;
  grid-area: a;
  width: 650px;
  margin-right: 5px;
  position: relative;
}
.vr-top-img {
  position: absolute;
  left: 45.7%;
  top: -1px;
}
.varint-handelar {
  display: grid;
  grid-template-areas: "a a a b b";
  grid-gap: 0px 15px;
  align-items: center;
}
.varint-img-2 {
  grid-area: b;
  position: relative;
  top: 70px;
}
.vr-bottom-img {
  width: 100%;
  height: 552px;
}
.vr-bottom-img img {
  width: 100%;
  object-fit: contain;
  border-radius: 20px;
}
.varint-img-2 img {
  border-radius: 20px;
  margin-bottom: 15px;
}
.color-changer-dot {
  position: relative;
  left: 51%;
  width: 200px;
  height: 40px;
  top: -560px;
}
span.cl-cm-1 {
  position: relative;
}
.cl-cm-1:before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background: #cad9d3;
  border-radius: 50%;
  border: 2px solid #fff;
}
.cl-n-2:before {
  left: 50px;
  background: #53565a;
}
.cl-n-3:before {
  left: 100px;
  background: #f0eae0;
}
.cl-n-4:before {
  left: 150px;
  background: #d4c7d9;
}
/* Better Togather==== */
.s4-wrap {
  position: relative;
}
.s4-text-box {
  position: absolute;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}
.s4-wrap img {
  width: 100%;
  height: 850px;
  object-fit: cover;
  object-position: bottom;
}
.s4-l-text {
  padding: 55px 0px 0px 50px;
}
.s4-l-text h1 {
  font-size: 30px;
}
.bm-r-tx {
  padding: 35px 0px 1px 12px;
}
.clo-btn {
  width: 200px;
  height: 30px;
  display: flex;
  justify-content: center;
  margin-right: 110px;
}
.sb-txs span {
  display: inline-block;
  background: #cae3ff;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 10px;
  color: #000;
}
.s-d-c {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  top: -45px;
}
.sb-txs span:last-child {
  background: transparent;
}
.clo-btn .cl-n-1:before {
  background: #c7c8ca;
}
.clo-btn .cl-n-2:before {
  background: #6f8aad;
}
.clo-btn .cl-n-3:before {
  background: #749d8c;
}
.clo-btn .cl-n-4:before {
  background: #ffd175;
}

/* Better Togather======= */
.tg-dr {
  width: 915px;
  margin: auto;
  display: flex;
  justify-content: center;
}
.tg-1 {
  background: #f6f6f6;
  margin-right: 25px;
  width: 390px;
  border-radius: 20px;
  display: flex;
  padding: 18px 12px;
  align-items: center;
}
.tg-1 img {
  width: 132px;
  margin-right: 20px;
}
.tg-under-text span {
  font-size: 15px;
  font-weight: 600;
}
.tg-under-text h3 {
  font-size: 20px;
}

/* Selfi Expariens ===================== */

section.main-wrap.sel-m2 {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 100px;
}
.selfi-expe-1 h1 {
  font-size: 60px;
  line-height: 1.16;
  font-weight: 600;
  margin-bottom: 35px;
}
.selfi-expe-1 {
  padding-bottom: 80px;
}
.m2-img-box img {
  border-radius: 20px;
  margin-bottom: 5px;
  margin-left: 140px;
  border-top-left-radius: 20px;
}
.m2-sub-logo {
  display: flex;
}
.m2-sub-logo img {
  margin-right: 5px;
}
.m2-sub-logo span {
  font-size: 14px;
}
.m2-sub-logo span a {
  color: RGB(0, 111, 242);
}
.selfi-expe-1 p {
  width: 51%;
  margin-left: auto;
  margin-top: 40px;
}
/* Selfi Expariens Part 2======= */
.selfi-expe-2 {
  padding: 80px 0px;
}
.selfi-expe-2 {
  display: grid;
  grid-template-columns: 50% 50%;
}
.flax-acm {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-left: 60px;
}
.flax-acm h2 {
  font-size: 30px;
  margin-bottom: 30px;
}
.flax-acm p {
  margin-bottom: 30px;
}
.flax-acm p:nth-child(3) {
  margin-bottom: 20px;
}
.flex-bm-logo {
  display: flex;
  margin-top: 8px;
  margin-left: 8px;
}
.flex-bm-logo img {
  margin-right: 5px;
}
.flex-bm-logo span {
  font-size: 14px;
}
.flex-bm-logo span a {
  color: RGB(0, 111, 242);
}
/* Selfi Expariens Part 3 ==========*/
.selfi-expe-2 .flax-acm {
  padding-left: 80px;
}
/* Selfi Expariens Part 4 */
.selfi-expe-2.selfi-expe-4 {
  padding-bottom: 170px;
}
.flax-acm h2 sup {
  font-size: 14px;
}
.flax-acm p sup {
  font-size: 9px;
}
.selfi-expe-4 .flax-acm-img img {
  border-radius: 20px;
}
.selfi-expe-4 .flex-bm-logo img {
  border-radius: 0px !important;
}
/* Looking Sharp============= */
.looking-shaf {
  background: #f4f4f4;
  width: 820px;
  margin-left: 80px;
  display: flex;
  align-items: center;
  padding: 65px 0px;
  border-radius: 20px;
}
.selfi-expe-2.selfi-expe-4 .flax-acm-img svg {
  position: absolute;
  bottom: 50px;
  right: 52px;
  font-size: 35px;
  color: #ffffffc9;
}
.selfi-expe-2.selfi-expe-4 .flax-acm-img {
  position: relative;
}
.sharp-img {
  width: 40%;
  text-align: center;
}

/* Meet Flex Window============================ */
main.m3-meet {
  margin-bottom: 100px;
}
main.m3-meet .main-wrap {
  background: #fff;
  background-image: linear-gradient(#eeeadf, #ccdad4);
}
.m3-top-img {
  width: 100%;
  padding-bottom: 80px;
  margin-bottom: 55px;
  background-image: linear-gradient(#eeeadf, #eeeadfe3);
  box-shadow: inset 0px 0px 5px 0px #00000012;
  border-radius: 22px;
}
.m3-img-box {
  width: 100%;
  position: relative;
}
.m3-img-box img {
  width: 100%;
  object-fit: contain;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.m3-img-box svg {
  position: absolute;
  bottom: 15px;
  right: 20px;
  font-size: 35px;
  color: #a6a39b;
}
.m3-top-text h1 {
  font-size: 60px;
  margin-bottom: 12px;
}
.m3-top-text {
  width: 990px;
  margin: auto;
  margin-top: 15px;
}
/* Met Img Pat 2=== */
.sub-wrap.met-i-p-2 {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-bottom: 80px;
}
.img-met-p-2 {
  position: relative;
}
.img-met-p-2 img {
  border-radius: 20px;
}
.mit-img-cn {
  position: relative;
}
.mit-img-cn img {
  position: absolute;
}
.mit-img-cn img:first-child {
  left: 45px;
  top: 71px;
}
.img-met-p-2 svg {
  position: absolute;
  bottom: 22px;
  right: 53px;
  font-size: 35px;
  color: #bbb;
}
.mt-text-p-2 p {
  margin-bottom: 30px;
  color: #555555;
}
.mt-text-p-2 p:last-child {
  color: RGB(87, 87, 87);
}

/* Met Img Pat 4=== */
.sub-wrap.met-i-p-2.met-i-p-4 {
  align-items: normal;
  padding-top: 70px;
}
.mt-text-p-2 a {
  color: RGB(0, 131, 143);
  font-weight: 700;
}

/* Met Img Pat 5======= */
.sub-wrap.met-i-p-2.met-i-p-5 .img-met-p-2 p {
  margin-top: 20px;
  margin-left: 12px;
}

/* Battery Section================= */
section.main-wrap.bttry-s {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 100px;
}
.bttry-tp-1 {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}
.bttry-tp-1.bttry-tp-2 {
  margin-top: 85px;
}
.bt-top-img img {
  transform: scale(1.1);
}
.bttry-tp-2 .text-bttr p {
  margin-bottom: 40px;
}

/*  New flex Part 3 ================= */
.new-wp-main {
  padding: 100px 0px;
  margin-bottom: 100px;
}
.new-p-1 {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 100px;
}
.n-p-1-t {
  padding-top: 50px;
}
.n-p-1-t h1 {
  font-size: 30px;
  margin-bottom: 30px;
}
.n-p-1-t p {
  margin-bottom: 40px;
}
.n-p-1-t p:nth-child(3) {
  margin-bottom: 60px;
}
.n-p-img {
  position: relative;
}
.n-p-img img {
  border-radius: 20px;
}
.n-p-img svg {
  position: absolute;
  bottom: 20px;
  right: 25px;
  font-size: 35px;
  color: #9e9e9e;
}
.new-p-t-2 {
  margin-bottom: 70px;
}
.new-p-t-2 h1 {
  font-size: 30px;
  margin-bottom: 25px;
}
/* ====================== */
.almn-wr-box {
  display: grid;
  grid-template-columns: 50% 50%;
}
.aln-img img {
  width: 100%;
  object-fit: contain;
}
.aln-text-b {
  padding-left: 60px;
}
.sub-aln-bx {
  padding-bottom: 30px;
  padding-top: 30px;
  border-top: 1px solid #ddd;
}
.sub-aln-bx h1 {
  font-size: 22px;
  color: #555555;
  position: relative;
}
.sub-aln-bx p {
  padding: 30px 0px;
}
.sbx-1 {
  padding-top: 0px;
  border-top: 0px;
}
.sub-aln-bx h1 svg {
  position: absolute;
  right: 0;
  top: 3px;
}
.sbx-1 h1 {
  color: #1d1d1d;
}
.sm-care {
  width: 397px;
  background: #f6f6f6;
  padding: 50px 0px 50px 45px;
  border-radius: 20px;
  margin-left: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.sm-care img {
  width: 128px;
  height: 34px;
  object-fit: cover;
  margin-right: 30px;
}

/* ================== */
section.smrt-watch.main-wrap {
  background: transparent;
  padding-bottom: 80px;
}
.smrt-wt-1 {
  position: relative;
}
.smrt-w-img {
  width: 100%;
}
.smrt-w-img img {
  width: 100%;
}
.smrt-w-text {
  position: absolute;
}
.smrt-w-text h3 {
  margin-bottom: 35px;
}
.smrt-w-text p {
  margin-bottom: 30px;
}
.smart-un-box {
  display: flex;
  height: 170px;
  background-image: url(./img/sec12-3.jpg);
  align-items: center;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}
.watch-un {
  width: 104px;
  height: 170px;
}
.watch-un-tx span {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}
.watch-un-tx h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #fff;
}
.watch-un-tx a {
  font-size: 14px;
  font-weight: 600;
  text-decoration: underline;
  color: #fff;
}
.watch-un-tx a img {
  width: 10px;
}
.watch-un {
  margin-left: 35px;
  margin-right: 35px;
}
/* Smart Plantans part 2=== */
.planet-box {
  margin-top: 210px;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: start;
}
.plant-text {
  padding-top: 70px;
}
.plant-img img {
  width: 100%;
  object-fit: contain;
}
.plant-text p {
  margin-top: 30px;
}

/* Switch Upgrade Test===== */
section.switch-planat {
  background: #fff;
  padding-top: 120px;
  padding-bottom: 215px;
}
.sw-img-box-all {
  margin-top: 40px;
  background: #fcfcfc;
  height: 640px;
  border-radius: 20px;
}
.switch-item-alls {
  display: grid;
  grid-template-columns: 31% 31% 31%;
  grid-column-gap: 20px;
}
.sw-img-s img {
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  object-fit: contain;
}
.sw-text-a h3 {
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 28px;
}
.sw-text-a {
  padding-left: 20px;
}
.sw-text-a p {
  margin-bottom: 35px;
}
.sw-text-a a {
  font-size: 14px;
  color: #000;
  font-weight: 600;
}
.sw-text-a.sw-text-a-1 img {
  margin-top: 15px;
  width: auto;
}

/* Ealvate Day =============== */
.elvat-box {
  margin-top: 190px;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  background: #f4f4f4;
  height: 415px;
  border-radius: 20px;
}
.elvt-img {
  width: 100%;
  height: 100%;
}
.elvt-img img {
  width: 100%;
  height: 415px;
  object-fit: cover;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.elvat-text-box {
  padding-left: 35px;
}
.elvat-text-box h3 {
  margin-bottom: 25px;
}
/* Question Section=========== */
.fr-ques {
  margin-top: 140px;
}
.fr-ques ul li {
  font-size: 22px;
  padding-bottom: 35px;
  margin-bottom: 35px;
  border-bottom: 1px solid #ddd;
  font-weight: 600;
  position: relative;
  cursor: pointer;
}
.fr-ques ul li svg {
  position: absolute;
  right: 0;
  top: 6px;
  font-size: 25px;
}

/* Responsive ==================================================================== */

